.Header {
    padding: 4px 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px silver;
  }
  
  .Header h1 {
    color: #0e3c7e;
    margin: 0;
    font-family: 'Caveat', cursive;;
    font-size: 3em;
    text-align: center;
  }
  
  .Header--part2 {
    display: flex;
    justify-content: space-between;
  }
  
  .Header--part2 h1 {
    text-align: left;
  }
  
  .Header__user {
    color: #222;
    padding: .7em .4em 0 .5em;
    text-align: right;
  }